.container {
    text-align: center;
    background-color: var(--ifm-color-gray-300);
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    height: 115px;
    margin: 5px;
}

.container:hover {
    cursor: pointer;
    border-color: var(--color-lilac);
    box-shadow: 0 0 0 0.1rem var(--color-lilac);
}

.img {
    width: 200px;
    height: 100px;
    border-radius: 2px;
}

.caption {
    font-size: 16px;
    font-weight: bold;
}

.select {
    font-size: 0.75rem;
}

.selectLabel {
    font-size: 0.75rem;
}